.footer-container{
    width:100%;
    background-color: #f0f2f9;
    min-height: 10vh;
    text-align: center;
    padding:2rem 1rem;
    color:rgb(159, 158, 158);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.footer-p{
    width:80%;
}
.customhr{
    width: 80%;     
    /* height:6px; */
}
.custom-hr{
     
  color: rgb(173, 170, 170);
}